<!-- app/templates/sales.html -->
{% extends 'layout.html' %}
{% block content %}
<h2>Sales Orders</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Order ID</th><th>Customer</th><th>Date</th><th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for sale in sales %}
    <tr>
      <td>{{ sale.order_id }}</td>
      <td>{{ sale.customer }}</td>
      <td>{{ sale.date }}</td>
      <td>${{ sale.total }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
